!!! 5
%html{lang:"en"}
  %head
    %meta{charset:"UTF-8"}
    %meta{name:"viewport", content:"width=device-width, initial-scale=1.0"}
    %title= I18n.t('title', default: 'Chess Guesser', locale: @locale)

    %link{rel:"stylesheet", href:"/styles/game_selection.css"}

  %body
    - unless builtin_pgns.empty?
      #builtin_selection_container
        %h3= I18n.t(:choose_from_built_in_games, locale: @locale)
        %ul.game-list
          - builtin_pgns.each do |(index, file, description, game_count)|
            %li
              %a.btn{href: "/builtin/#{index}"} #{description} (#{I18n.t(:games, count: game_count, locale: @locale)})

    %form#pgn_upload_form.upload-form{action: "/upload_pgn", method: "post", enctype: "multipart/form-data"}
      %h3= I18n.t('upload.title', locale: @locale)
      .form-group
        %label
          %input#upload_method_file{type: "radio", name: "upload_method", value: "file", checked: true}
          = I18n.t('upload.method.file', locale: @locale)
      .form-group
        %label
          %input#upload_method_paste{type: "radio", name: "upload_method", value: "paste"}
          = I18n.t('upload.method.paste', locale: @locale)

      #file_upload_container.form-group
        %input#pgn_file_input{type: "file", name: "pgn_file", accept: ".pgn"}

      #pgn_paste_container.form-group{style: "display: none;"}
        %textarea#pgn_text_input{name: "pgn_text", rows: "10", cols: "50", placeholder: I18n.t('upload.paste_placeholder', locale: @locale)}

      %button#upload_pgn_btn.btn{type: "submit"}= I18n.t('upload.submit', locale: @locale)

    %script{src:"../scripts/pgn_uploader.js"}
    :javascript
      document.addEventListener('DOMContentLoaded', () => { const uploader = new PgnUploader(); });
