!!! 5
%html{lang: @locale}
  %head
    %meta{charset:"UTF-8"}
    %meta{name:"viewport", content:"width=device-width, initial-scale=1.0"}
    %title= t('title') + " - " + t('games.list.title')

    %link{rel:"stylesheet", href:asset_path("styles/game_selection.css")}

  %body
    %h2= t('games.list.title')
    .table-responsive
      %table#game_selection_table
        %thead
          %tr
            %th= t('games.list.columns.white')
            %th= t('games.list.columns.black')
            %th= t('games.list.columns.year')
            %th= t('games.list.columns.result')
            %th= t('games.list.columns.serious_mistake')
            %th= t('games.list.columns.critical_moment')
            %th= t('games.list.columns.action')
        %tbody
          - summary.games_with_translated_names(@locale).each_with_index do |game, index|
            %tr
              %td{"data-label" => t('games.list.columns.white')}= game['White']
              %td{"data-label" => t('games.list.columns.black')}= game['Black']
              %td{"data-label" => t('games.list.columns.year')}= game['Date'] ? game['Date'][0..3] : ''
              %td{"data-label" => t('games.list.columns.result')}= game['Result']
              %td{"data-label" => t('games.list.columns.serious_mistake')}
                - if game[:analysis] && game[:analysis]['first_serious_mistake']
                  - moment = notation_for_move(game[:analysis]['first_serious_mistake'])
                  %a{href: "/#{path_prefix}/#{index}?move=#{moment[:move_number]}&side=#{moment[:side]}"}
                    = moment[:text]
              %td{"data-label" => t('games.list.columns.critical_moment')}
                - if game[:analysis] && game[:analysis]['last_critical_moment']
                  - moment = notation_for_move(game[:analysis]['last_critical_moment'])
                  %a{href: "/#{path_prefix}/#{index}?move=#{moment[:move_number]}&side=#{moment[:side]}"}
                    = moment[:text]
              %td
                %a{href: "/#{path_prefix}/#{index}"}= t('games.list.play')

    %a.btn{href: "/"}= t('games.back')
