!!! 5
%html{lang:"en"}
  %head
    %meta{charset:"UTF-8"}
    %meta{name:"viewport", content:"width=device-width, initial-scale=1.0"}
    %title Chess Guesser

    %link{rel:"stylesheet", href:"/style.css"}

  %body
    - unless table.empty?
      #game_selection_container
        %table#game_selection_table
          %thead
          %tr
            %th White
            %th Black
            %th Date
            %th Result
            %th Action
          %tbody
            - table.each do |game|
              %tr
                %td= game[:white]
                %td= game[:black]
                %td= game[:date]
                %td= game[:result]
                %td
                  %a{href: "/game/#{game[:id]}"} Play
    - unless builtin_pgns.empty?
      #builtin_selection_container
        %h3 Choose From Built-in Games
        %ul.game-list
          - builtin_pgns.each_with_index do |(file, description), index|
            %li
              %a{href: "/builtin/#{index}"} #{description}

    %script{src:"../scripts/pgn_uploader.js"}
    %script
      document.addEventListener('DOMContentLoaded', () => { const uploader = new PgnUploader(); });

    %form#pgn_upload_form{action: "/upload_pgn", method: "post", enctype: "multipart/form-data"}
      %div
        %input#upload_method_file{type: "radio", name: "upload_method", value: "file", checked: true}
        %label{for: "upload_method_file"} Upload PGN file
      %div
        %input#upload_method_paste{type: "radio", name: "upload_method", value: "paste"}
        %label{for: "upload_method_paste"} Paste PGN text

      #file_upload_container
        %input#pgn_file_input{type: "file", name: "pgn_file", accept: ".pgn"}

      #pgn_paste_container{style: "display: none;"}
        %textarea#pgn_text_input{name: "pgn_text", rows: "10", cols: "50", placeholder: "Paste your PGN here"}

      %button#upload_pgn_btn{type: "submit"} Upload PGN
